<a href="<%= keywords_path %>">
  <%= I18n.t('keywords.shared.link.back_to_home') %>
</a>

<div class="d-flex flex-column justify-content-center mt-4">
  <p data-testid="keyword_details_content"><%= I18n.t('keywords.details.keyword') %>: <%= keyword.content %></p>
  <p data-testid="keyword_details_links_count"><%= I18n.t('keywords.details.links_count') %>: <%= keyword.links_count %></p>
  <p data-testid="keyword_details_top_ads_count"><%= I18n.t('keywords.details.total_ads_count') %>: <%= search_entries_query.top_ads_count %></p>
  <p data-testid="keyword_details_total_ads_count"><%= I18n.t('keywords.details.total_ads_count') %>: <%= search_entries_query.total_ads_count %></p>
  <p data-testid="keyword_details_non_ads_count"><%= I18n.t('keywords.details.non_ads_count') %>: <%= search_entries_query.non_ads_count %></p>

  <div data-testid="keyword_details_top_ads_urls">
    <%= render('url_list', urls: search_entries_query.top_ads_urls, title:  I18n.t('keywords.details.top_ads_urls')) %>
  </div>

  <div data-testid="keyword_details_non_ads_urls">
    <%= render('url_list', urls: search_entries_query.non_ads_urls, title: I18n.t('keywords.details.non_ads_urls')) %>
  </div>

  <div data-testid="keyword_details_page_view">
    <p><%= I18n.t('keywords.details.page_view') %>:</p>
    <iframe srcdoc="<%= keyword.result_page_html %>" class="keyword-details__page-view"></iframe>
  </div>
</div>
